<h1>Привет!</h1>

<p>
    Чтобы сбросить пароль, пожалуйста, нажмите
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">СЮДА</a>
    Срок действия этой ссылки истекает через {{ tokenLifetime|date('g') }} часа..
</p>

<p>
   Готово!
</p>