{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <form class="container" style="padding-top: 150px" method="post">
    <div class="row justify-content-center">
    <div class="col-md-4">
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Сброить пароль</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Введите адрес электронной почты, и мы вышлем вам ссылку для сброса пароля.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
    </div>
    </div>
    </form>
{% endblock %}