{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block navbar %}
   {# <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка1</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка2</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка3</a>
    </li>#}
{% endblock %}
{% block heading %} Первая страница {% endblock %}
 {% block heading_right %}
     {#<li class="breadcrumb-item"><a href="#">Home</a></li>
     <li class="breadcrumb-item active">Starter Page</li>#}
 {% endblock %}
{% block body %}

{% endblock %}
{% block sidebar %}
<h1>Привет</h1>
{% endblock %}
