{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}
{% block navbar %}
   {# <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка1</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка2</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Вкладка3</a>
    </li>#}
{% endblock %}
{% block heading %} Первая страница {% endblock %}
 {% block heading_right %}
     {#<li class="breadcrumb-item"><a href="#">Home</a></li>
     <li class="breadcrumb-item active">Starter Page</li>#}
 {% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/home/ihor/PhpstormProjects/holodremont/src/Controller/AdminController.php'|file_link(0) }}">src/Controller/AdminController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/home/ihor/PhpstormProjects/holodremont/templates/admin/index.html.twig'|file_link(0) }}">templates/admin/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
{% block sidebar %}
<h1>Привет</h1>
{% endblock %}
