{% extends 'admin/index.html.twig'%}

{% block title %}New Contacts{% endblock %}
{% block heading %} Добавить {% endblock %}
{% block heading_right %}
    <li> <a class="btn btn-info ml-2" href="{{ path('contacts_index') }}" role="button"><i class="fas fa-arrow-circle-left"></i></a></li>
{% endblock %}
{% block body %}

    {{ include('contacts/_form.html.twig') }}

{% endblock %}
