{% extends 'base.html.twig' %}

{% block title %}New Feedback{% endblock %}

{% block body %}


    {{ include('feedback/_form.html.twig') }}

    <a href="{{ path('feedback_index') }}">back to list</a>
{% endblock %}
